{% extends "layout.html" %}
{% block content %}
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <div class="w3-container">
        <form action="" method="POST">
            {{form.csrf_token}}
            {{form.name.label}}
            {{form.name()}}
            <br>
            {{form.submit()}}
        </form>
        <hr>
        {% if name %}
            Type    : {{name}}
            <br>
            Predict : {{code}}
        {% else %}
            Not Found
        {% endif %}
        <hr>
    </div>
</html>
{% endblock%}