{% extends "layout.html" %}
{% block content %}
    <!-- <div class = 'container my-2'>    
        <form method ="POST">
            {{form.hidden_tag()}}
            {{form.name.label}}
            {{form.name()}}
            <!-- Boolean Field -->
        <!-- </br>
            {{form.isAccept()}}{{form.isAccept.label}}
        </br>
            <!-- Radio -->
            <!-- {{form.gender.label}}{{form.gender()}}
        </br>
            <!-- Select -->
            <!-- {{form.skill.label}} {{form.skill()}} -->
        <!-- </br> -->
            <!-- Area -->
            <!-- {{form.address.label}}  -->
        <!-- </br> -->
            <!-- {{form.address()}} -->
        <!-- </br> -->
            <!-- {{form.submit()}} -->
        <!-- </form>     -->
        <!-- <hr> -->
        <!-- {% if session['name'] %}
            Your name is <strong>{{session['name']}}</strong></br>
            Accept service ? <strong>{{session['name']}}</strong></br>
            Gender is <strong>{{session['gender']}}</strong> -->
            <!-- Skill is <strong>{{session['skill']}}</strong> -->
            <!-- Adddress is <strong>{{session['address']}}</strong> --> --> -->
        <!-- {% else %}
            There is nothing
        {% endif %}
    </div> --> 
{% endblock%}